<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE PBL</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-o0q3gzNv8IzF6fOXJ2miyF4Un3ZSpViR+55hS+XuF7FcE+7xjBE5ApT4kaUKLi1z" crossorigin="anonymous">

</head>
<body>

  

    

<nav class="bg-[#ffffff] dark:bg-[#ffffff] fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://flowbite.com/docs/images/logo.svg" class=" ml-6 h-8" alt="Flowbite Logo">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-black ">StudyRoom</span>
    </a>
    <div class="flex md:order-2 space-x-5 md:space-x-3 rtl:space-x-reverse">
        <button type="button" class="text-white font-medium  text-sm px-4 py-2 text-center"></button>
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div class="items-center justify-between ml-72 hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border rounded-lg md:space-x-28 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
       
        <li>
          <a href="/about" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-purple-200 dark:text-black dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
        </li>
        <li>
          <a href="/login" class="block py-2 px-3 text-gray-900 rounded hover:bg-blur-50 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-purple-200 dark:text-black dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Login</a>
        </li>
        <li>
          <a href="/signup"class="text-white text-lg bg-blue-600 px-5 py-2 ml-32 mt-12 rounded-md">Sign-Up</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

<div class="bg-blue-50 md:grid md:grid-cols-2 md:mx-auto mt-16 md:gap-4">
<div class="md:col-span-1">
  <p class="text-black font-bold text-5xl mt-24 ml-32">Study Anywhere,<br> Anytime with Study<br> Room</p>
  <p class="text-black font-extralight text-xl mt-12 ml-32">Study Room is a virtual platform that allows you to create your private study space or join a public study room. Our platform provides you with the perfect virtual learning environment to help you achieve your academic goals.</p>
  <a href="/login"><button class="text-white text-lg bg-blue-600 px-5 py-2 ml-32 mt-12 rounded-md mb-16">Get Started</button></a>
</div>
<div class="md:col-span-1 "><img src="https://img.freepik.com/free-photo/smart-young-adult-asian-female-wear-casual-cloth-working-late-night-time-home-tele-conference-meeting-online-with-business-partners-home-isolation-quarantine-concept_609648-497.jpg?t=st=1709715383~exp=1709718983~hmac=722521f10e967f615e0949038cbec76389b03cb229084f46320cd37a714ae3d0&w=996" class="h-96 w-auto mt-24 ml-24" alt=""></div>
</div>
<p class="font-semibold text-3xl ml-16 mt-24">What Our Students Think</p>
<div class="bg-white md:grid md:grid-cols-2 md:gap-16">
  <div class="col-span-1 ">
    <p class="text-green-700 ml-16 mt-12 mr-12 text-xl">ANSH VORA</p>
    <p class="mt-12 ml-16 mr-12 text-xl">Study Room has transformed my study experience. Being able to create my own personalized study space or join a public room has helped me focus and achieve my academic goals.</p>
  </div>
  <div class="col-span-1 mb-24">
    <p class="text-green-700 ml-16 mt-12 text-xl mr-12">AKANKSHA DIXIT</p>
    <p class="mt-12 ml-16 mr-12 text-xl">Study Room has transformed my study experience. Being able to create my own personalized study space or join a public room has helped me focus and achieve my academic goals.</p>
  </div>
  <div class="col-span-1 mb-24">
    <p class="text-green-700 ml-16 mt-12 text-xl mr-12">DANISH CHANDARGI</p>
    <p class="mt-12 ml-16 mr-12 text-xl">Study Room has transformed my study experience. Being able to create my own personalized study space or join a public room has helped me focus and achieve my academic goals.</p>
  </div>
  <div class="col-span-1 mb-24">
    <p class="text-green-700 ml-16 mt-12 text-xl mr-12">KUSHAL AGRAWAL</p>
    <p class="mt-12 ml-16 mr-12 text-xl">Study Room has transformed my study experience. Being able to create my own personalized study space or join a public room has helped me focus and achieve my academic goals.</p>
  </div>
  

</div>
<div class="bg-blue-50 md:grid md:grid-cols-2 md:gap-16">
  <div class="col-span-1">
    <p class="text-black text-4xl ml-16 mt-16 ">Our Services</p>
  </div>
  <div class="col-span-1">
    <a href="/login"><button class="text-white text-lg bg-blue-600 px-5 py-2 ml-96 mt-16 rounded-md mb-16">Get Started</button></a>
  </div>

</div>
<div class="bg-blue-50">
<div class="md:grid md:grid-cols-3 md:gap-9 ml-16 mr-8">
  <div class="col-span-1">
    <img src="https://img.freepik.com/free-photo/monitor-with-video-call-conference-table-empty-workplace-online-business-meeting-with-video-conference-computer-remote-communication-with-coworkers-teleconference-call_482257-29795.jpg?t=st=1709715555~exp=1709719155~hmac=88200cbd6f6a92e2789e6c7560dfd30536db4f8069866506f8fb7dd7c47d615c&w=1060 " class=" w-96  mt-16 h-80" alt="">
    <p class="mt-12 text-black text-xl">Study Room</p>
    <p class="font-extralight mt-8 text-xl mb-7">Enjoy a private, distraction-free study environment with our fully equipped private study rooms, available 24/7.</p>
    <a href="/login" class="text-green-700 mt-10">Explore</a>
  </div>
  <div class="col-span-1">
    <img src="https://img.freepik.com/free-photo/businesswoman-chatting-with-remote-team-teleconference-using-laptop-back-view-company-colleagues-discussing-business-videocall-office-employees-teamwork-cooperation_482257-50343.jpg?t=st=1709715997~exp=1709719597~hmac=58d7bb6778f418273d81ac55f9cadd5c8c55a7e80fc9ec6741de5e8b40e8a33b&w=360" class=" w-96  mt-16 h-80" alt="">
    <p class="mt-12 text-black text-xl">AI doubt solver</p>
    <p class="font-extralight mt-8 text-xl mb-7">Academic Clarity on Demand. Get instant answers to your academic questions with AI-powered precision.</p>
    <a href="/login" class="text-green-700 mt-10">Explore</a>
  </div>
  <div class="col-span-1">
    <img src="https://img.freepik.com/free-photo/green-business-meeting-working-room-office-building-with-bookshelf_105762-1790.jpg?t=st=1709716077~exp=1709719677~hmac=dc953aa2414520bbca1e59f4f436ba24f83cbeca2b7fcf6e9eae0c3c1375326b&w=996 " class="  mt-16 h-80" alt="">
    <p class="mt-12 text-black text-xl">Chat study room</p>
    <p class="font-extralight mt-8 text-xl mb-7">Collaborative Learning Hub. Join peers in a virtual space for interactive study sessions, discussion, and knowledge sharing.</p>
    <a href="/login" class="text-green-700 mt-10">Explore</a>
  </div>
  <div class="col-span-1">
    <img src="https://img.freepik.com/free-photo/green-business-meeting-working-room-office-building-with-bookshelf_105762-1790.jpg?t=st=1709716077~exp=1709719677~hmac=dc953aa2414520bbca1e59f4f436ba24f83cbeca2b7fcf6e9eae0c3c1375326b&w=996 " class="  mt-16 h-80" alt="">
    <p class="mt-12 text-black text-xl">Summarize your pdf</p>
    <p class="font-extralight mt-8 text-xl mb-7">Streamline Information in a Snapshot. Transform lengthy documents into concise insights with this efficient tool. Say goodbye to information overload and hello to clarity in minutes.</p>
    <a href="/login" class="text-green-700 mt-10">Explore</a>
  </div>
  <div class="col-span-1">
    <img src="https://img.freepik.com/free-photo/green-business-meeting-working-room-office-building-with-bookshelf_105762-1790.jpg?t=st=1709716077~exp=1709719677~hmac=dc953aa2414520bbca1e59f4f436ba24f83cbeca2b7fcf6e9eae0c3c1375326b&w=996 " class="  mt-16 h-80" alt="">
    <p class="mt-12 text-black text-xl">Prepare and manage your notes</p>
    <p class="font-extralight mt-8 text-xl mb-7">Unlock the power of effective note preparation and organization to elevate your study game.</p>
    <a href="/login" class="text-green-700 mt-10">Explore</a>
  </div>

  </div>




  

  
  

</body>
</html>